* {
    font-family: 'Lato', sans-serif;
}
/* ---SEPERATOR--- */
header {
    margin-top: 15px;
}

header #header-button {
    border: 2px solid pink;
    color: pink;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    left: 75%;
}
/* ---SEPERATOR--- */
main h1 {
    margin-top: 100px;
}
main {
    text-align: center;
}

main img {
    margin-top: 90px;
}
/* ---SEPERATOR--- */
.special-info {
    display: inline-block;
    position: relative;
    left: 30%;
    bottom: 40px;
    margin-right: 200px;
}

.special-info .sentence  {
    color: rgb(144, 152, 159);
    position: relative;
    bottom: 60px;
}

.special-info .count {
    font-family: 'Raleway', sans-serif;
    font: bold;
    font-size: 90px;
}

.special-info img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 95px;
}
/* ---SEPERATOR--- */
.banners {
    background-color: gray;
    width: 80%;
    border-radius: 25px;
}

.banners img{
    width: 300px;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
}

.banners h3, .banners p {
    margin-left: 200px;
}

.banners h3 {
    font-size: 30px;
}

.banners img {
    position: relative;
    left: 60%;
    bottom: 90px;
}

.banner-text {
    position: relative;
    top: 200px;
}
/* ---SEPERATOR--- */
footer {
    text-align: center;
}

footer h2 {
    font-weight: 900px;
    font-size: 30px;
    position: relative;
    bottom: 20px;
}

footer a {
    border: 2px solid pink;
    color: pink;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    bottom: 20px;
}